# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages in Data Science
- Commonly used libraries
- Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Tensorflow

Data Science Tools |
| ---- |
Jupyter Notebooks | 
RStudio |
Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Gon√ßalo Grangeia